doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(charset='UTF-8')
    -if(data.length)
      -each box in data
          meta(property='og:url', content='http://jarystorybox.com/Stories/id=#{box.id}')
          meta(property='og:type', content='article')
          meta(property='og:title', content='#{box.title}')
          meta(property='og:description', content='#{box.summary}?')
          meta(property='og:image', content='http://jarystorybox.com/#{box.url}')

    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='shortcut icon', href='../doc/images/BOXES.ico')
    link(rel="stylesheet", href="../css/fonts.css")
    link(rel='stylesheet', href='../css/index.css')
    title Jarys' Story Box
    style.
      p{
      text-indent: 17px;
      font-size:16px;
      }
      .contenthistories{
      text-align: justify;
      line-height: 30px
      }
      .title-header{
      padding: 27px
      }
      .logo2{
       margin-left:240px;
      }
  body.container

    #fb-root
    script(src='../js/facebook.js')

    header
      .social-media.row
        .social-media-icon.col-lg-4
          .navbar.pull-right
            a(href='https://www.facebook.com/JaryStoryBox/', target='_blank')
              img(src='../png/004-facebook.png', alt='Facebook-Icon')
          .navbar.pull-right
            a(href='https://twitter.com/AJarys', target='_blank')
              img(src='../png/002-twitter.png', alt='Twitter-Icon')
          .navbar.pull-right
            a(href='https://www.instagram.com/ajarysj', target='_blank')
              img(src='../png/003-instagram.png', alt='Instagram-Icon')
          .navbar.pull-right
            a(href='https://t.me/Ajarysj', target='_blank')
              img(src='../png/001-telegram.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='https://www.wattpad.com/user/AJarys', target='_blank')
              img(src='../png/001-books.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='https://tapas.io/ajarysj', target='_blank')
              img(src='../png/002-library.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='https://www.youtube.com/channel/UCn1I9oIDR92RsNkW3WSYpPg?disable_polymer=true', target='_blank')
              img(src='png/005-youtube.png', alt='Youtube-Icon')
      .row
        .col-lg-9.col-lg-offset-3.logo.logo2(style="height:270px; margin-left:331px")
          img(src="../png/iso23.png", alt="Box Logo",class="image-title")
    nav.navbar.navbar-default(style='border-top: 5px solid grey;')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .container.col-lg-7.col-lg-offset-3
            ul.nav.navbar-nav
              li
                a(href='/')
                  | Jarys Story Box 
                  span.sr-only (current)
              li
                a(href='../WeeklyJarys') The Weekly Jarys
              li
                a(href='../TrueStory') True Story
              li
                a(href='../ShortStories') Short Stories
              li
                a(href='../StoryCubes') Story Cubes
        
    -if(data.length)
      -each box in data
          .title-header
              h1(align='center') #{box.title}
              h3(align='center') By A. Jarys.
          -if (data[0].validstory)
            .cubecontainer
              img(src="#{box.imagecube}", alt="#{box.title}")

          .container.contenthistories
             .col-lg-7.col-lg-offset-2
                #casa #{box.history} 
                .lolo(style="border-bottom: 1px solid #ECE7E7; margin:55px")
                .license  
                  a(rel='license', href='http://creativecommons.org/licenses/by-nc-nd/4.0/')
                    img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png')
                  br 
                  | This work is licensed under a 
                  a(rel='license', href='http://creativecommons.org/licenses/by-nc-nd/4.0/')
                    | Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
                  | .
 
                .col-lg-2
                   form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')

                     input(type='hidden', name='cmd', value='_s-xclick')
                     input(type='hidden', name='hosted_button_id', value='ENYFWUZQR6YKC')
                     input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                   
                     img(alt='', border='0', src='https://www.paypalobjects.com/es_XC/i/scr/pixel.gif', width='1', height='1')
                .col-lg-10    
                  p Support the author
                
                .col-lg-2
                  a.twitter-share-button(href='https://twitter.com/share?ref_src=twsrc%5Etfw', data-size='large', data-via='ajarys ', data-hashtags='StoryBox', data-lang='en', data-show-count='false') Tweet
               
                .col-lg-8(style="margin-left:-36px")
                  .fb-like(data-href='#{ref}', data-layout='standard', data-action='like', data-size='large', data-show-faces='true', data-share='true' style="margin-left:10px; margin-bottom:10px")  

               

                .fb-comments(data-href="#{ref}", data-width='100%', data-numposts='5')
                


    -else
      p No se pudo conectar
   
    footer
      .footer-container(align='center')
        p(style='font-size:10px') Copyright © 2017 -Jarys' Story Box- All Rights Reserved



    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/transform.js')
    script(src='../js/responsive-image.js')
    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
