doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='shortcut icon', href='../doc/images/BOXES.ico')
    link(rel='stylesheet', href='../css/index.css')
    title Jarys' Story Box
    style.
      p{
      text-indent: 17px
      }
      .contenthistories{
      text-align: justify;
      line-height: 30px
      }
      .title-header{
      padding: 27px
      }
      .logo2{
       margin-left:240px;
      }
  body.container

    #fb-root
    script(src='../js/facebook.js')

    header
      .social-media.row
        .social-media-icon.col-lg-4
          .navbar.pull-right
            a(href='#')
              img(src='../png/004-facebook.png', alt='Facebook-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='../png/002-twitter.png', alt='Twitter-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='../png/003-instagram.png', alt='Instagram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='../png/001-telegram.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='../png/001-books.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='../png/002-library.png', alt='Telegram-Icon')
      .row
        .col-lg-9.col-lg-offset-3.logo.logo2
          img(src="../png/esto.jpg", alt="Box Logo",class="image-title")
    nav.navbar.navbar-default(style='border-top: 5px solid grey;')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .container.col-lg-.col-lg-offset-3
            ul.nav.navbar-nav
              li
                a(href='/')
                  | Home
                  span.sr-only (current)
              li
                a(href='../WeeklyJarys') The Weekly Jarys
              li
                a(href='../TrueStory') True Story
              li
                a(href='../ShortStories') Short Stories
              li
                a(href='../StoryCubes') Story Cubes
        
    -if(data.length)
      -each box in data
          .title-header
              h1(align='center') #{box.title}
              h3(align='center') By A. Jarys.
          .container.contenthistories
             .col-lg-7.col-lg-offset-2
                #casa #{box.history} 
                .lolo(style="border-bottom: 1px solid #ECE7E7; margin:55px")
                .fb-like(data-href='#{ref}', data-layout='standard', data-action='like', data-size='large', data-show-faces='true', data-share='true')
                .fb-comments(data-href="#{ref}", data-width='100%', data-numposts='5')


    -else
      p No se pudo conectar
   
    footer
      .footer-container(align='center')
        p(style='font-size:10px') Copyright © 2017 -Jarys' Story Box- All Rights Reserved

    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/transform.js')
    script(src='../js/responsive-image.js')

