extends head
block content
  body.container
    header
     include social-nav
    .row
      .col-lg-9.col-lg-offset-1.logo
        img(src="./png/iso2.png", alt="Box-Logo", class="image-title")
     include nav-bar
    main
      h1(align='center', style='margin-bottom: 20px') Story Cubes
      article
        .row
          -if(data.length) 
             -each box in data
               .col-lg-3(style='margin-left:')
                  .info
                    a(href='Stories/id=#{box.id}')
                      h3#cabeza #{box.title}
                    p#parrafo
                      | #{box.summary}
                  img(src='#{box.url}', alt='fearimage', height='240px', width='240px', style='border-radius: 100%')
                  .title-post
                    a(href='Stories/id=#{box.id}')
                     h2(align='center') #{box.title}
                    p(align='center') #{box.date}
          -else
            p Working in that :(
      include back-footer
    include footer

   script(src='../js/jquery.js')
   script(src='../js/bootstrap.min.js')