extends head
block content
  body.container
    header
     include social-nav
     include head-logo
     include nav-bar
    main
      h1(align='center', style='margin-bottom: 20px') The Weekly Jarys
      article
        .row
          -if(data.length) 
             -each box in data
               .col-lg-3(style='margin-left:')
                  .info
                    a(href='Stories/id=#{box.id}')
                      h3#cabeza #{box.title}
                    p#parrafo
                      | #{box.summary}
                  img(src='#{box.url}', alt='#{box.title}', height='240px', width='240px', style='border-radius: 100%')
                  .title-post
                    a(href='Stories/id=#{box.id}')
                     h2(align='center') #{box.title}
                    p(align='center') #{box.date}
          -else
            p Working on it :(
      include back-footer
    include footer

   script(src='../js/jquery.js')
   script(src='../js/bootstrap.min.js')